{% extends 'layout.html.twig' %}

{% block content %}
    <div id="messageSend"></div>

    <form method="POST" >

        <p class="h4 text-center mb-4">Sign up</p>
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="Nom" name="Nom" class="form-control">
            <label>Nom</label>
        </div>

        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="Prenom" name="Prenom" class="form-control">
            <label>Prenom</label>
        </div>

        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="Adresse" name="Adresse" class="form-control">
            <label >Adresse</label>
        </div>

        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="tel" id="Phone" name="Phone" class="form-control">
            <label>Phone</label>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit" id="envoyer" name="envoyer">envoyer</button>
        </div>

    </form>
{% endblock %}
