{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Affichage</h1>

    <table class="table">

        <!--Table head-->
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Phone</th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        {% for formulaire in formulaires %}
            <tr>
                <td>{{ formulaire.Nom }}</td>
                <td>{{ formulaire.Prenom }}</td>
                <td>{{ formulaire.Adresse }}</td>
                <td>{{ formulaire.Phone }}</td>
            </tr>
        {% endfor %}

        </tbody>
        <!--Table body-->

    </table>

{% endblock %}

